<main>
  <p>
      based on current role : user / operator proper module loaded with its menu
      - for operator - solution 2 problem table master - data amidnistration, reports
      - for user his problems and sale
      - lazy loaded modules shown there
      - like in deboratj curata course table with mocked data and module
      - reactive forms
      - meterail angular components
      - if module complex it has its own menu
      - passing data from parent to child via input
      - communicating via common service with subjects
  </p>
</main>
