<header>
  <div class="container">
    <div class="item-logo">
      <span>logo</span>
    </div>
    <div class="item-center">
      <span>The 80 by 20</span>
    </div>
    <div class="item-basket">
      <span>basket</span>
    </div>
    <div class="item-auth">
      <ng-container *ngIf="!auth.isAuthenticated()">
        <a routerLink="/auth/login">Login</a>
      <span>/</span>
      <a routerLink="/auth/register">Register</a>
      </ng-container>
      <ng-container *ngIf="auth.isAuthenticated()">
        <a class="nav-link">
          {{ auth.getUsername() }}
        </a>
        <a class="pointer" (click)="logout()">Logout</a>
      </ng-container>
    </div>
  </div>
</header>
