<div class="container">
  <div class="item">
    <h5>{{userProblems}} todo create separate analgous component for operator, guard in routes based on user-service.role</h5>
    <div class="alert alert-danger" *ngIf="errorMessage">
      {{ errorMessage }}</div>

    <div class="toolbar">
      <div>
        <select (change)="onSelected($any($event.target).value)">
          <option value="">- Display All -</option>
          <option *ngFor="let category of problemCategories$ | async" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div class="item-center">
      </div>
      <div>
        <button type="button" class="btn btn-outline-secondary" (click)="onAdd()">Add Product</button>
      </div>
    </div>
    <table *ngIf="problems$ | async as userProblems">
      <thead>
        <tr>
          <th>Problem Id</th>
          <th>Confirmed</th>
          <th>Rejected</th>
          <th>Color</th>
          <th>Category</th>
          <th>Required Solution Types</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userProblem of userProblems">
          <td>{{ userProblem.problemId }}</td>
          <td>{{ userProblem.isConfirmed }}</td>
          <td>{{ userProblem.isRejected }}</td>
          <td>{{ userProblem.color }}</td>
          <td>{{ userProblem.category }}</td>
          <td>{{ userProblem.requiredSolutionTypes }}</td>
          <td>{{ userProblem.description }}</td>
          <!-- <td>{{ product.price | currency:"USD":"symbol":"1.2-2" }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="item">
    <h5>{{userSolutionsToProblems}}</h5>
  </div>
</div>
