.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2px;
  //align-items: center;
  //align-content: center;
  //justify-content: center;
  & > div {
    border: solid 1px black;
  }

  .item {
    flex-grow: 1;
  }

  h5{
    text-align: center;
  }

  table {
    font-size: xx-small;
  }
}

.toolbar{
  display: flex;
  padding: 10px;

  .item-center {
    flex-grow: 1;
  }
}
