<ng-container *ngIf="initProblemActionStream$ | async"></ng-container>
<ng-container *ngIf="deleteProblemActionStream$ | async"></ng-container>
<div class="container">
  <div class="item">
    <!-- <h5>{{userProblemsTitle}}</h5> -->
    <div *ngIf="errorMessageDataStream$ | async as errorMessage">
      {{ errorMessage }}
    </div>
    <div *ngIf="notifySubjectDataStream$ | async as notifyMessage">
      {{ notifyMessage }}
    </div>
    <div *ngIf="actionInProgressDataStream$ | async as actionInProgress">
      <div *ngIf="actionInProgress">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
    <div>
      <div class="toolbar">
        <div>
          <!-- <select (change)="onCategorySelected($any($event.target).value)">
            <option value="">- Display All -</option>
            <option *ngFor="let category of problemCategoriesDataStream$ | async" [value]="category.id">{{ category.name
              }}</option>
          </select> -->
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select (selectionChange)="onCategorySelected2($event)">
              <mat-option value="">- Display All -</mat-option>
              <mat-option *ngFor="let category of problemCategoriesDataStream$ | async" [value]="category.id">{{ category.name
                }}</mat-option>
            </mat-select>
            </mat-form-field>
       
        </div>
        <div class="item-center">
        </div>
        <div>
          <button type="button" mat-stroked-button (click)="onRefresh()">Refresh from server</button>
          <button type="button" mat-stroked-button (click)="onAdd()">Request Problem</button>
        </div>
      </div>
      <table *ngIf="problemsDataStream$ | async as userProblems" class="problems-table">
        <thead>
          <tr>
            <!-- <th>Problem Id</th> -->
            <th>Confirmed</th>
            <th>Rejected</th>
            <th>Color</th>
            <th>Category</th>
            <th>Required Solution Types</th>
            <th>Description</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userProblem of userProblems">
            <!-- <td>{{ userProblem.id }}</td> -->
            <td>{{ userProblem.isConfirmed }}</td>
            <td>{{ userProblem.isRejected }}</td>
            <td>{{ userProblem.color }}</td>
            <td>{{ userProblem.category }}</td>
            <td>{{ userProblem.requiredSolutionTypes }}</td>
            <td>{{ userProblem.description }}</td>
            <td><button mat-stroked-button (click)="onEdit(userProblem.id)"
                [ngClass]="{ selected : userProblem?.id === (selectProblemActionStream$ | async)?.id}">Edit</button></td>
            <td><button mat-stroked-button color="warn" (click)="onDelete(userProblem.id)">Delete</button></td>
            <!-- <td>{{ product.price | currency:"USD":"symbol":"1.2-2" }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="item form-container" *ngIf="selectProblemActionStream$ | async as problem">
    <app-user-product-form [problem]="problem"></app-user-product-form>
  </div> -->
  <div class="item form-container">
    <app-user-product-form></app-user-product-form>
  </div>
</div>
