<header>
  <mat-toolbar class="container">
    <!-- <a routerLink="">
      <mat-icon class="item-logo" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </a>
    <div class="item-center">
      <span>The 80 by 20</span>
    </div> -->
    <!-- <button mat-icon-button class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <!-- <mat-icon>dialpad</mat-icon> -->
        <span routerLink="/solution-to-problem">Problems</span>
      </button>
      <button mat-menu-item>
        <span routerLink="/">Solutions</span>
      </button>
      <button mat-menu-item>
        <span routerLink="/">Master Data</span>
      </button>
      <button mat-menu-item>
        <span routerLink="/">Reports</span>
      </button>
      <button mat-menu-item>
        <span routerLink="/">Security</span>
      </button>
      <button mat-menu-item>
        <span routerLink="/solution-to-problem/deborath">Deborath playground</span>
      </button>
    </mat-menu>

    <div class="center"><a routerLink="" 
      style="text-decoration: none;">{{appName$ | async}}</a>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="menu-icon" (click)="test()">
      <mat-icon>shopping_basket</mat-icon>
    </button>
    <div class="center" >
      <ng-container *ngIf="!auth.isAuthenticated()">
        <a routerLink="/auth/login" style="text-decoration: none;">SignIn </a>
        <span>/</span>
        <a routerLink="/auth/register" style="text-decoration: none;"> SignUp</a>
      </ng-container>
      <ng-container *ngIf="auth.isAuthenticated()">
        <a class="nav-link" style="text-decoration: none;">
          {{ auth.getUsername() }}
        </a>
        <span>/</span>
        <a class="pointer" (click)="logout()" style="text-decoration: none;">Logout</a>
      </ng-container>
    </div>
  </mat-toolbar>
</header>