.container {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  gap: 2px;
  //justify-content: center;
  //height: 50px;
  // & > mat-icon-button {
  //   border: solid 1px black;
  // }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon{
  height: 100%;
}

.item-logo {
  width: 100px; /* A fixed width as the default */
}

.item-center {
  flex-grow: 1; /* Set the middle element to grow and stretch */
}

.item-basket {
  width: 100px;
}

.item-auth {
  width: 300px;
}

.item + .item {
  margin-left: 2%;
}

.pointer {
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}
