<main>

  <h4>todo</h4>

  <ul>
    <li>komunikacja z backendem, prawilnie zrobiony corsy</li>
    <li>ujenolicona obsługa błedów z backendu toaster??</li>
    <li>commonowy busy indicator jak w oneshift </li>
  </ul>

  <ul>
    <li>angular reactive forms with validation</li>
    <li>review Adriana</li>
    <li>filtrowanie</li>
    <li>praca na inmememorywebapi</li>
  </ul>

  <ul>
    <li>auth jwt token jak w angular university obsluga rol</li>
    <li>automatic sign out with services</li>
    <li>weryfkacja ról</li>
  </ul>


  <ul>
    <li>doprowadzenie do dzialania deborath rxj i kontynuwanie kursu deborath</li>
    <li> like in deborath curata course table with mocked data and lazy loaded module</li>
    <li> odpalic apke deborath i poczytac xze zrozumieniem kod, jak cos git to uzyc</li>
    <li> poodpalac inne repa deborath, poczytac kod, uzyc w th80by20</li>
    <li> poodpalac repa angular university, poczytac kod, uzyc w th80by20</li>
    <li>angular docs przeczytac i używać</li>
  </ul>

  <ul>
    <li>podłaczenie ngrx</li>
    <li>napisanie w react</li>
  </ul>

  <ul>
    <li>ci / cd frontu</li>
    <li>gitlab build</li>
    <li>testy</li>
    <li>deploy na azure-a, storreage cos tam?</li>
  </ul>

  <ul>
    <li>based on current role (user / operator) proper module loaded with its menu
      - for operator: modules: master-data, reports,
      - for booperator and user: modules: solution-2-problem and sale- one module but dedicated to user components with
      guards based on userservice.role in routing
      create separate analgous component for operator problems / solutions, guard in routes based on user-service.role
    </li>
    <li>lazy loaded modules are rendered in main</li>
    <li>master detials</li>
    <li>reactive forms</li>
    <li>angular material controls</li>
    <li> if module complex it has its own menu and routing</li>
    <li>passing data from parent to child via input, output angular mechanism</li>
    <li>creactive ommunicating via common service with subjects</li>
    <li>take a look at deborath kurata repos, angular universisty reports (watched courses in skills), one-shift and use
      concepts from them</li>
    <li>translation mechanism using angular services</li>
  </ul>

  <ul>
    <li>użyć prettier-a, poprawnie skonfigurowac elslinta dla angularatypescripta, html, wg jakiegos tutoriala</li>
    <li>skróty jak w Visula Stdio, szukanie po typac, refactor ctrl- itd</li>
    <li>nie działa ng tylko przez npm run ng</li>
    <li>wtyczki w vs code</li>
    <li>plynność w vs code</li>
    <li>!!!!!plynnosc w npm cli</li>
    <li>plynnośc w ng cli</li>
  </ul>

</main>
