<main>

  <h3>todo</h3>
  <ul>
    <li>komunikacja z backendem (users-problem + security), cors, zostawienie kodu z inmemorywebapi - właczanie / wyłaczanie, fasada api-service</li>
    <li>ujednolicona obsługa błedów z backendu toaster?</li>
    <li>commonowy busy indicator jak w oneshift </li>
    <li>api service podmieniany</li>
    <li>dial na potiwerdzenie delete</li>
    <li>toaster do powiadomienia</li>
    <li>pipe zimeniajacy hex na color / ikonke</li>
    <li>hideowany boczny panel - zminiec gjego htmla z nav na aside</li>
    <li>skończyć wszystkie formularze tak jak formularz logowania (angular material kontorlki z walidacja, reactive forms)</li>
    <li>porządek w css-ach</li>
    <li>angular material dialog</li>
    <li>passing data from parent to child via input, output angular mechanism</li>
    <li>creactive ommunicating via common service with subjects</li>
    <li>translation mechanism using angular services</li>
    <li>layout css grid / flex - porzadek</li>
    <li>tests</li>
    <li>podłaczenie ngrx</li>
  </ul>

  <h3>security</h3>
  <ul>
    <li>obsluga rol - warunkowe łądowanie lazy / loading modules, pokazywanie routów w zalezności od roli, guardy</li>
    <li>automatic sign out with interval$</li>
    <li>based on current role (user / operator) proper module loaded with its menu
      - for operator: modules: master-data, reports,
      - for booperator and user: modules: solution-2-problem and sale- one module but dedicated to user components with
      guards based on userservice.role in routing
      create separate analgous component for operator problems / solutions, guard in routes based on user-service.role
    </li>
  </ul>

  <h3>repa i docsy</h3>
  <ul>
    <li> poodpalac inne repa deborath, poczytac kod, uzyc w th80by20</li>
    <li> poodpalac repa angular university, poczytac kod, uzyc w th80by20</li>
    <li> angular docs przeczytac i używać</li>
    <li> w3w school docs przeczytac i używać</li>
    <li> angular material school docs przeczytac i używać</li>
    <li> typescript school docs przeczytac i używać</li>
    <li>rxjs docs przeczytac i używać</li>
    <li>  developer.mozilla.org</li>
  </ul>

  <h3>ci / cd</h3>
  <ul>
    <li>ci / cd frontu</li>
    <li>gitlab build</li>
    <li>testy</li>
    <li>deploy na azure-a, storreage cos tam?</li>
  </ul>

  <h3>tools</h3>
  <ul>
    <li>użyć prettier-a, poprawnie skonfigurowac elslinta dla angularatypescripta, html, wg jakiegos tutoriala</li>
    <li>skróty jak w Visula Stdio, szukanie po typac, refactor ctrl- itd</li>
    <li>nie działa ng tylko przez npm run ng</li>
    <li>wtyczki w vs code</li>
    <li>plynność w vs code</li>
    <li>!!!!!plynnosc w npm cli</li>
    <li>plynnośc w ng cli</li>
    <li> style cop, formatter, tslint?</li>
    <li>usefull vs code plugins for angular, scss and html</li>
  </ul>
</main>
