<main>
  <ul>
    <li>based on current role (user / operator) proper module loaded with its menu
      - for operator: modules: master-data, reports,
      - for booperator and user: modules: solution-2-problem and sale- one module but dedicated to user components with guards based on userservice.role in routing
      create separate analgous component for operator problems / solutions, guard in routes based on user-service.role</li>
    <li>lazy loaded modules are rendered in main</li>
    <li> like in deborath curata course table with mocked data and lazy loaded module</li>
    <li>master detials</li>
    <li>reactive forms</li>
    <li>angular material controls</li>
    <li> if module complex it has its own menu and routing</li>
    <li>passing data from parent to child via input, output angular mechanism</li>
    <li>creactive ommunicating via common service with subjects</li>
    <li>take a look at deborath kurata repos, angular universisty reports (watched courses in skills), one-shift and use concepts from them</li>
  </ul>
</main>
