.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  //align-items: stretch;
  justify-content: center;
  & > div {
    border: solid 1px black;
  }
}

.item-menu {
  height: 200px;
}

.item-report {
  flex-grow: 1;
}
