<mat-card class="container">
  <div class="item"></div>
  <div class="horizontal-container">
    <div class="item"></div>
    <div>
      <mat-card-title>Login</mat-card-title>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- INFO based on: https://material.angular.io/components/form-field/examples#form-field-error -->
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="login@address.com" [formControl]="email" required>
            <mat-icon 
              matSuffix >email
            </mat-icon>
            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [formControl]="password" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button [disabled]="!loginForm?.valid" type="submit" class="btn btn-warning">Sign
            In</button>
        </div>
      </form>
    </div>
    <div class="item"></div>
  </div>
  <div class="item"></div>
</mat-card>
<!-- <div class="form-group">
      <div *ngIf="notify" class="alert alert-success">
        {{ notify }}
      </div>
      <label for="email">Email</label>
      <input type="email" class="form-control" formControlName="email">
    </div> -->
<!-- <div *ngIf="isInvalidInput('email')" class="alert alert-danger">
      <span>Email is invalid</span>
    </div> -->
<!-- <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password">
    </div>
    <div *ngIf="isInvalidInput('password')" class="alert alert-danger">
      <span>Password is invalid</span>
    </div> -->

<!-- <p>
  <mat-checkbox>Check me!</mat-checkbox>
</p>

<p>
  <mat-slider min="1" max="100" step="1" value="50"></mat-slider>
</p> -->