.container {
  display: flex;
  padding: 2px;
  flex-direction: column;
  height: 100%;
  gap: 2px;
  //align-items: center;
  //align-content: center;
  //justify-content: center;
  & > mat-card-content {
    border: solid 1px black;
  }
}

.item-menu {
  // height: 200px;
}

.item-report {
  flex-grow: 1;
  display: flex;
  align-items: center;
  //height: 200px;
}
