<nav class="container">
  <mat-card class="item-report">
    <span>notifications, signal r backend notifying (ex events: report-changed-event, problem-accepted, problem-rejected) 
      communicating via common service with subjects, is hideable panel; backend: core sneding event to rabbit-mq reports subscribed</span>
    <!-- <span>https://material.angular.io/components/sidenav/examples</span> -->
  </mat-card>
  <mat-card class="item-report">
    <span>report: rxjs interval updating circle report calling backend every 30sek</span>
  </mat-card>
</nav>
