<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet"
			            arguments=".\the80by20.Bootstrapper.dll"
			            stdoutLogEnabled="false"
			            stdoutLogFile=".\logs\stdout"
			            hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
<!--https://docs.microsoft.com/pl-pl/aspnet/core/host-and-deploy/iis/web-config?view=aspnetcore-6.0-->