<main>
  <p>
      based on current role (user / operator) proper module loaded with its menu
      - for operator: operator-solution-2-problem, master-data, reports, operator-sale
      - for user: user-solution-2-problemz, user-sale
      - lazy loaded modules are rendered in main
      - like in deborath curata course table with mocked data and lazy loaded module
      - reactive forms
      - angular material controls
      - if module complex it has its own menu
      - passing data from parent to child via input, output angular mechanism
      - creactive ommunicating via common service with subjects
      - take a look at deborath kurata repos, angular universisty reports (watched courses in skills), one-shift

  </p>
</main>
