.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 2px;
  //align-items: center;
  //align-content: center;
  //justify-content: center;
  // & > div {
  //   border: solid 1px black;
  // }

  .item {
    flex-grow: 1;
  }

  h5{
    text-align: center;
  }

  table {
    .selected{
      background-color: chartreuse;
    }
  }
}

.toolbar{
  display: flex;
  padding: 10px;

  .item-center {
    flex-grow: 1;
  }
}

.problems-table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.problems-table td, .problems-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.problems-table tr:nth-child(even){background-color: #f2f2f2;}

.problems-table tr:hover {background-color: #ddd;}

.problems-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(79, 9, 145);
  color: white;
}
