<ng-container *ngIf="initProblemActionStream$ | async"></ng-container>
<ng-container *ngIf="deleteProblemActionStream$ | async"></ng-container>
<div class="container">
  <div class="item">
    <h5>{{userProblemsTitle}}</h5>
    <div *ngIf="errorMessageDataStream$ | async as errorMessage">
      {{ errorMessage }}
    </div>
    <div *ngIf="notifySubjectDataStream$ | async as notifyMessage">
      {{ notifyMessage }}
    </div>
    <div *ngIf="actionInProgressDataStream$ | async as actionInProgress">
      <div *ngIf="actionInProgress">
        is loading...
      </div>
    </div>
    <div>
      <div class="toolbar">
        <div>
          <select (change)="onCategorySelected($any($event.target).value)">
            <option value="">- Display All -</option>
            <option *ngFor="let category of problemCategoriesDataStream$ | async" [value]="category.id">{{ category.name
              }}</option>
          </select>
        </div>
        <div class="item-center">
        </div>
        <div>
          <button type="button" class="btn btn-outline-secondary" (click)="onRefresh()">Refresh from server</button>
          <button type="button" class="btn btn-outline-secondary" (click)="onAdd()">Add Product</button>
        </div>
      </div>
      <table *ngIf="problemsDataStream$ | async as userProblems">
        <thead>
          <tr>
            <!-- <th>Problem Id</th> -->
            <th>Confirmed</th>
            <th>Rejected</th>
            <th>Color</th>
            <th>Category</th>
            <th>Required Solution Types</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let userProblem of userProblems">
            <!-- <td>{{ userProblem.id }}</td> -->
            <td>{{ userProblem.isConfirmed }}</td>
            <td>{{ userProblem.isRejected }}</td>
            <td>{{ userProblem.color }}</td>
            <td>{{ userProblem.category }}</td>
            <td>{{ userProblem.requiredSolutionTypes }}</td>
            <td>{{ userProblem.description }}</td>
            <td><button (click)="onEdit(userProblem.id)"
                [ngClass]="{ selected : userProblem?.id === (selectProblemActionStream$ | async)?.id}">Edit</button></td>
            <td><button (click)="onDelete(userProblem.id)">Delete</button></td>
            <!-- <td>{{ product.price | currency:"USD":"symbol":"1.2-2" }}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="item" *ngIf="selectProblemActionStream$ | async as problem">
    <app-user-product-form [problem]="problem"></app-user-product-form>
  </div>
</div>
