:host{
  display: flex;
  flex-direction: column;
  height: 100%;

}

.container{
  height: 100%;
  margin-top: 10px;
}


h5{
  text-align: center;
}

.problem-form{
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 100%;

  mat-form-field {
    width: 100%;
  }

  .spacer{
    flex-grow: 1;
  }

  .inputs {
    padding: 2px;

    > * {
      padding: 5px;
    }
  }

}

.action-bar{
  display: flex;
  gap: 2px;
  padding: 2px;

  .item-left {
    flex-grow: 1;
  }
}
