<ng-container *ngIf="addProblemActionStream$ | async"></ng-container>
<ng-container *ngIf="updateProblemActionStream$ | async"></ng-container>
<!-- <div class="container">
  <form class="problem-form">
    <h5>{{title}}</h5>
    <div class="inputs">
      <div>
        <label>Id: </label>
        <span>{{problem?.id}}</span>
      </div>
      <div><span>todo add reactive forms with validation https://www.digitalocean.com/community/tutorials/angular-reactive-forms-introduction</span></div>
      <div>
        <label>Description</label>
        <input type="text" [(ngModel)]="problem.description" name="description">
      </div>
    </div>
    <div class="spacer"></div>
    <div class="action-bar">
      <div class="item-left"></div>
      <div><button (click)="onSave(problem)">Save</button></div>
      <div><button (click)="onCancel()">Cancel</button></div>
    </div>
  </form>
</div> -->


<mat-card class="container" *ngIf="selectProblemActionStream$ | async">
  <form class="problem-form" [formGroup]="problemForm" (ngSubmit)="onSave()">
    <!-- INFO based on: https://material.angular.io/components/form-field/examples#form-field-error -->
    <div class="inputs">
      <div>
        <span>Problem id: {{problem?.id}}</span>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput [formControl]="description"  required>
          <!-- <mat-error *ngIf="description.invalid">{{getPasswordErrorMessage()}}</mat-error> -->
        </mat-form-field>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="action-bar">
      <div class="item-left"></div>
      <button mat-raised-button [disabled]="!problemForm?.valid" type="submit" class="btn btn-warning">Save</button>
      <div><button mat-raised-button (click)="onCancel()">Cancel</button></div>
    </div>
    <div>
    </div>
  </form>
</mat-card>